@import url('resource://com/macipra/witt/sheet/editor.css');
@import url('resource://com/macipra/witt/sheet/canvas.css');

.transform-window .custom-row > box {
    margin-left: 8px;
    margin-right: 8px;
}