.transform-window .custom-row > box {
    margin-left: 8px;
    margin-right: 8px;
}

.transform-window .custom-check {
    padding: 7px;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-radius: 9px;
    transition: background-color;
    transition-duration: 0.2s;
}
.transform-window .custom-check:hover {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
    transition: background-color;
    transition-duration: 0.2s;
}

.transform-window .horizontal.custom-linked > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
}
.transform-window .horizontal.custom-linked > *:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}