.sheet-editor scrollbar.vertical {
    padding-left: 5px;
}
.sheet-editor scrollbar.horizontal {
    padding-top: 5px;
}



.name-box,
.formula-box,
.multiline-formula-bar {
    font-family: monospace;
}

.formula-bar {
    font-feature-settings: "tnum" 1;
}

.formula-bar-data-type {
    margin-right: 39px;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-radius: 6px;
}

.multiline-formula-bar {
    padding: 0 7px;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.formula-box + button,
.multiline-formula-bar + button {
    margin-left: 0;
    transition-duration: 0;
}

.multiline-formula-bar:focus-within {
    outline: 2px solid color-mix(in srgb, var(--accent-color) 50%, transparent);
    outline-offset: -2px;
    transition: outline;
    transition-duration: 0.2s;
}



.transform-window .custom-row > box {
    margin-left: 8px;
    margin-right: 8px;
}

.transform-window .custom-check {
    padding: 7px;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-radius: 9px;
    transition: background-color;
    transition-duration: 0.2s;
}
.transform-window .custom-check:hover {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
    transition: background-color;
    transition-duration: 0.2s;
}

.transform-window .horizontal.custom-linked > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
}
.transform-window .horizontal.custom-linked > *:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}