@import url('resource://com/macipra/witt/command-palette.css');
@import url('resource://com/macipra/witt/status-bar.css');
@import url('resource://com/macipra/witt/toolbar.css');
@import url('resource://com/macipra/witt/window.css');

@import url('resource://com/macipra/witt/node/style.css');
@import url('resource://com/macipra/witt/sheet/style.css');

flowbox.navigation-sidebar {
    padding: 0 2px;
}
flowbox.navigation-sidebar > * {
    margin: 0;
    padding: 0;
}
flowbox.navigation-sidebar .arrow-right {
    padding: 0 2px;
}
flowbox.navigation-sidebar .active-item {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
}
flowbox.navigation-sidebar .active-item:hover {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
}
flowbox.navigation-sidebar .active-item .arrow-right {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
}
flowbox.navigation-sidebar .active-item .arrow-right:hover {
    background-color: color-mix(in srgb, currentColor 25%, transparent);
}

tabbar.inline tabbox {
    padding-top: 0;
    padding-bottom: 0;
}

calendar {
    border: none;
    background: none;
}
calendar > header {
    border: none;
}
calendar > header label {
    font-weight: bold;
}
calendar button {
    border-radius: 50%;
}
calendar grid label {
    min-height: 34px;
    min-width: 34px;
    padding: 0;
    margin: 3px 0;
    margin-right: 3px;
    font-size: 10pt;
    border-radius: 5px;
}
calendar grid .day-name {
    font-weight: bold;
    opacity: 0.5;
}
calendar grid .day-number {
    border-radius: 50%;
}
calendar grid .day-number:not(:selected):hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
}
calendar grid .day-number.today {
    box-shadow: none;
}
calendar grid .day-number.today:not(:selected) {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
}
calendar grid .week-number {
    min-height: 24px;
    min-width: 24px;
    margin: 6px;
    margin-right: 5px;
    margin-left: 3px;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    font-weight: bold;
    opacity: 0.5;
}

.time-picker label {
    border-radius: 50%;
    transition-duration: 0.2s;
}
.time-picker label:hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    transition-duration: 0.2s;
}
.time-picker button.toggle {
    min-height: 34px;
    min-width: 34px;
    padding: 0;
    border-radius: 50%;
}

.button-sm {
    padding: 2px;
    min-height: 20px;
    min-width: 20px;
}

.rotate-90deg {
    transform: rotate(90deg);
}
.rotate-180deg {
    transform: rotate(180deg);
}
.rotate-270deg {
    transform: rotate(270deg);
}

.top-1px {
    margin-top: -1px;
}
.bottom-1px {
    margin-bottom: -1px;
}
.left-1px {
    margin-left: -1px;
}
.right-1px {
    margin-right: -1px;
}

.menu .separator.title {
    padding-left: 12px;
    padding-right: 12px;
}

.entry-separator {
    min-width: 10px;
    margin-right: 1px;
    background-color: color-mix(in srgb, currentColor 10%, transparent);
}
.floating-sheet {
    background-color: RGB(from var(--shade-color) r g b / calc(alpha * 2));
}

/*
    This whole thing is very frustrating indeed.
    This is especially true for the node layout.
*/
.horizontal.linked > .vertical.linked > button,
.horizontal.linked > .vertical.linked > entry {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.horizontal.linked > .vertical.linked > *:last-child > button {
    border-bottom-left-radius: 9px;
}
.vertical.linked > .vertical.linked > *:not(:last-child),
.vertical.linked > .vertical.linked > *:only-child {
    border-top-left-radius: 0;
}

/*
    We have a specific problem where non-specific selectors
    can introduce to unwanted styling inside a popover, etc.
    At the moment, I have no time to properly fix the issue.
*/
.horizontal.linked > .vertical.linked > dropdown > button,
.horizontal.linked > .vertical.linked > box > dropdown > button,
.horizontal.linked > .vertical.linked > box > button,
.horizontal.linked > .vertical.linked > box > box > button,
.horizontal.linked > .vertical.linked > box > box > entry {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
