.mwindow {
    background-color: var(--view-bg-color);
    color: var(--view-fg-color);
}

.mwindow .mtitlebar windowcontrols.start > button:first-child {
    margin-left: 6px;
}
.mwindow .mtitlebar windowcontrols.end > button:last-child {
    margin-right: 6px;
}

.mwindow .mtabview .editor-view {
    margin: 0 2px;
    transition-duration: 0.2s;
}
.mwindow .mtabview .editor-view:focus-visible {
    outline: 2px solid var(--accent-bg-color);
    transition: outline;
    transition-duration: 0.2s;
}