.node-socket {
    padding: 0;
    border-radius: 2px;
    background-color: var(--dark-3);
}

.socket-input {
    margin-left: -13px;
    margin-right: 18px;
}

.socket-output {
    margin-left: 18px;
    margin-right: -13px;
}

.after-socket {
   margin-left: -12px;
}

.before-socket {
   margin-right: -12px;
}

/*
.selected .socket-input {
    margin-left: -21px;
    margin-right: 21px;
}

.selected .socket-output {
    margin-left: 21px;
    margin-right: -21px;
}
*/