@import url('resource://com/wittara/studio/node/editor-dark.css');
@import url('resource://com/wittara/studio/node/canvas-dark.css');
@import url('resource://com/wittara/studio/node/frame-dark.css');
@import url('resource://com/wittara/studio/node/content-dark.css');
@import url('resource://com/wittara/studio/node/socket-dark.css');