@import url('resource://com/macipra/witt/node/editor-dark.css');
@import url('resource://com/macipra/witt/node/canvas-dark.css');
@import url('resource://com/macipra/witt/node/frame-dark.css');
@import url('resource://com/macipra/witt/node/content-dark.css');
@import url('resource://com/macipra/witt/node/socket-dark.css');