on:
  push:
    branches: [development]
  pull_request:
name: CI
jobs:
  flatpak:
    name: "Flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04  
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: com.macipra.witt.flatpak
        manifest-path: build-aux/com.macipra.witt.json
        cache-key: flatpak-builder-${{ github.sha }}
        verbose: true
